.accounts_management__wrapper {
  height: 100%;
  width: 100%;
  padding: 20px;
  display: flex;
  padding-bottom: 500px;
  background-color: var(--management-background-layout);
  border-radius: 5px;
  flex-direction: column;
}
.accounts_management__header {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.accounts_management__search-box {
  width: 70%;
  justify-self: center;
  display: flex;
}
.accounts_management__body {
  padding-top: 20px;
}
