.registration_layout__wrapper {
    width: 100%;
    height: 650px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.registration_layout__inner {
    width: 450px;
    height: 600px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0 30px 0;
    border-radius: 20px;
    box-shadow: 0.05em 0.05em 1em rgba(0, 0, 0, 0.1)
}

.registration_layout__logo {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.registration_layout__content {
    width: 100%;
    height: 490px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 0 50px 0 50px;
}

.forgot_password__wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.forgot_password__capcha {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}