@keyframes tonext {
    25% {
        transform: translate3d(-100%, 0, 70px);
    }
    50% {
        transform: translate3d(-200%, 0, 70px);
    }
    75% {
        transform: translate3d(-300%, 0, 70px);
    }
    100% {
        transform: translate3d(0%, 0, 70px);
    }
}

ol,
li {
    list-style: none;
    margin: 0;
    padding: 0;
}

.carousel {
    position: relative;
    filter: drop-shadow(0 0 10px #0003);
    perspective: 100px;
    height: 340px;
}

.carousel__viewport {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    overflow-x: scroll;
    counter-reset: item;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    overflow: hidden;
    border-radius: 20px;
    margin: 20px;
}

.carousel__slide {
    position: relative;
    flex: 0 0 100%;
    height: 350px;
    width: 100%;
}

.carousel-content {
    height: 100%;
    width: 100%;
    text-align: left;
    padding: 3%;
}

.carousel-content h1 {
    font-size: xx-large;
}

.carousel-content p {
    font-size: medium;
}

.carousel-image {
    height: 100%;
    width: 100%;
}

.carousel__slide {
    animation-name: tonext;
    animation-duration: 15s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
}
