.chat {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
    padding-bottom: 10px;
}

.chat-header {
    height: 5vh;
    border-radius: 10px;
}

.chat-content {
    height: 40vh;
    overflow: scroll;
    overflow-x: hidden;
    border-radius: 10px;
    margin-bottom: 10px;
}

.chat-page.chat-content {
    height: 80vh;
    display: flex;
    flex-direction: column;
}

.chat-input {
    min-height: 4vh;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    bottom: 5px;
}

.chat-avatar {
    width: 32px;
    height: 32px;
    border-radius: 50%;
}

.chat-input .message-text {
    position: absolute;
    resize: none;
    box-sizing: border-box;
    height: auto;
    max-height: 90px;
    width: 75%;
    border-radius: 10px;
    outline: none;
    overflow: hidden;
    border: none;
    box-shadow: 0 0 2px inset;
    font-size: small;
}

.chat-input.chat-page .message-text {
    width: 85%;
}

.cover-item {
    width: 100%;
}

.chat-content>.cover-item>.message-item {
    width: 100%;
    border-radius: 10px;
    font-size: medium;
    background-color: #DBDBDB;
}

.chat-page.chat-content>.cover-item>.message-item {
    width: 40%;
}

.cover-item>.message-item.you {
    float: right;
}

.time-message {
    text-align: right;
    font-size: small;
}

.cover-item>.message-item.you {
    background-color: #00D1B2;
    color: #FFF;
}

.chat-input .absolute,.absolute1 {
    position: relative;
    width: 3vh;
    height: 3vw;
    right: -80%;
}
.chat-input.chat-page .absolute {
    position: relative;
    width: 3vh;
    height: 3vw;
    right: -88%;
}

.chat-input.chat-page .absolute1 {
    position: relative;
    width: 3vh;
    height: 3vw;
    right: -90%;
}