/* courseId */
.course_info__wrapper {
    width: 100%;
    height: 100%;
    padding: 20px 20px 20px 20px;
    display: flex;

}

/*courseId left*/
.course_info__inner {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.course_info__left {
    width: 60%;
    height: 100%;
}

/*courseId left----achieve*/
.course_info__achieve {
    width: 100%;
    height: 250px;

}

.course_info__achieve-body {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 10px;
}

.course_info__achieve-item {
    width: 50%;
    height: 40px;
}

/*courseId left----content*/
.course_info__content {}

.course_info__content-body {}

.course_info__require {}

.course_info__require-body {}

.course_info__require-item {}

.course_info__related {}

.course_info__related-body {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    overflow: visible;
}


/*courseId right*/
.course_info__right {
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;
}

.course_info__right-thumb {
    width: 100%;
    height: 250px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;

}

.course_info__right-image {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    background: -webkit-linear-gradient(#eee, #262626);
    -webkit-text-fill-color: transparent;
    box-shadow: -10px 30px 120px white inset;
    border: 1px solid #999;

}

.course_info__right-bubble {
    position: absolute;
    height: 50%;
    display: flex;
    font-size: 18px;
    color: white;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.bubble-icon {
    font-size: 50px;
}

.course_info__right-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.course_info__right-content-basic {}

.course_info__content-basic-item {}

/* Dropdown Lesson PAGE */

.dropdown_lesson__wrapper {
    position: relative;
}

.dropdown_lesson__button {
    width: 100%;
    height: 50px;
    padding: 0 20px 0 15px;
    color: black;
    cursor: pointer;
    border: 1px solid hsl(0, 0%, 86%);
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 5px;
}

.dropdown_lesson__button:hover,
.dropdown_lesson__button:focus {
    background-color: #2980B9;
}

.dropdown_lesson__content {
    width: 100%;

}

.dropdown_lesson__content-item {
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid hsl(0, 0%, 96%);
    color: black;
    padding: 0 20px 0 30px;
    text-decoration: none;
}

/* Related Course Item COMPONENT */
.related_course__wrapper {
    width: 240px;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.related_course__img {
    width: 100px;
    height: 80px;
    border-radius: 10px;
}

.related_course__info {
    width: 135px;
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.related_course__price-old {
    font-size: 10px;
    text-decoration-line: line-through;
    margin-right: 5px;
}

.related_course__price-new {
    font-size: 14px;
    font-weight: 600;
    color: hsl(348, 100%, 61%);
}

.related_course__des {
    font-size: 10px;
    width: 130px;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}