
@import 'bulma/css/bulma.css';
@import 'font-awesome/css/font-awesome.css';
@import "react-draft-wysiwyg/dist/react-draft-wysiwyg.css";
@import '@/styles/auth.css';
@import '@/styles/carousel.css';
@import '@/styles/popupmessage.css';
@import '@/styles/chat.css';
@import '@/styles/conversation.css';
@import '@/styles/messenger.css';
@import '@/styles/course.css';
@import '@/styles/learning.css';
@import "@/styles/management-layout.css";
@import "@/styles/accounts-managements.css";

::-webkit-scrollbar {
  display: none;
}

.tab-content::-webkit-scrollbar {
  width: 0.2em;
  display: block;
}

::-webkit-scrollbar-thumb {
  background-color: grey;
  border-radius: 10px;
}

.dropdown-menu {
  transition: 2s;
  transition-duration: 2s;
  animation-duration: 2s;
}

.custom-dropdown {
  position: absolute;
  left: -120px;
}

.custom-dropdown-user {
  position: absolute;
  left: -100px;
}

.custom-dropdown .dropdown-content {
  width: 10rem;
}

.section {
  height: 92.2vh;
  padding: 0;
  width: 100vw;
  overflow: hidden;
}

.icons-large {
  font-size: x-large;
}

.l-bt {
  width: 64px;
  height: 64px;
  outline: none;
  box-shadow: none;
  border: none;
  border-radius: 20px;
  transition: 0.3s;
}

.is-active .l-bt {
  background-color: #00d1b2;
  color: white;
}

/* 
.sd-tab{
    box-shadow: 2px 0 2px -1px #888;
} */

.h-100 {
  height: 52.8em;
}
