.course_detail__wrapper {
    width: 100%;
    position: relative;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    z-index: 1;
}

/* HEADER */

.course_detail__header {
    width: 100%;
    height: 50px;
    position: fixed;
    top: 0;
    /* background-color: #29303B; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
}

.course_detail__header-left,
.course_detail__header-right {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.course_detail__header-right {
    justify-content: flex-end;
    font-size: 14px;
}

.course_detail__header-right>button {
    margin-left: 8px;
    margin-right: 8px;
    background: none;
    border: none;
    cursor: pointer;
}


.course_detail__header-left-btnback {
    background: none;
    border: none;
}


/* BODY */

.course_detail__body {
    margin-top: 50px;
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    z-index: -1;
}

.course_detail__body-content {
    width: 78%;
    height: 1000px;
}

.course_detail__body-content-top {
    width: 100%;
    height: 550px;
    padding: 0px 100px 0px 100px;
    background-color: black;
}

.course_detail__body-video {
    width: 100%;
    height: 100%;
}

.course_detail__body-content-bottom {
    position: relative;
    width: 100%;
    min-height: 400px;
    padding: 30px 100px;
    display: flex;
    flex-direction: column;
}

.course_detail__body-sidebar {
    width: 22%;
    height: 1000px;
}

.body-sidebar-header {
    position: fixed;
    width: 100%;
    height: 50px;
    display: flex;
    color: black;
    font-weight: 500;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
    background-color: white;
    box-shadow: 1px 1px 3px #ccc;
}

.body-sidebar-listlesson {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
}

/* FOOTER */
.course_detail__footer {
    width: 100%;
    height: 50px;
    position: fixed;
    bottom: 0;
    background-color: #F0F0F0;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
    box-shadow: -2px -2px #ece9e9;
}

.course_detail__footer-group-btnaction {
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.course_detail__footer-lesson-name {
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.course_detail__footer-btnlesson {
    width: 150px;
    height: 35px;
    margin-right: 5px;
    margin-left: 5px;
    background-color: transparent;
}

.course_detail__footer-btnnext {
    width: 30px;
    height: 30px;
    border-radius: 20px;
    background-color: white;
    color: black;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;

}

/* DROPDOWN LEARNING COMPONENT */
/* .dropdown_learning__wrapper {} */

.dropdown_learning__button {
    width: 100%;
    height: 50px;
    padding: 5px 20px 5px 15px;
    color: black;
    cursor: pointer;
    border-bottom: 1px solid hsl(0, 0%, 86%);
    display: flex;
    flex-direction: column;

    /* justify-content: space-between;
    align-items: center; */
}

.dropdown_learning__button-top {
    width: 100%;
    height: 60%;
    font-weight: 600;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.dropdown_learning__button-bottom {
    width: 100%;
    height: 40%;
    font-size: 12px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.dropdown_learning__button-bottom>span {
    margin-right: 3px;
}

.dropdown_learning__button:hover,
.dropdown_learning__button:focus {
    background-color: #2980B9;
}

.dropdown_learning__content {
    width: 100%;

}

.dropdown_learning__content-item {
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid hsl(0, 0%, 96%);
    color: black;
    padding: 5px 10px 5px 30px;
    text-decoration: none;
}

.dropdown_learning__content-item-top,
.dropdown_learning__content-item-bottom {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.dropdown_learning__content-item-top {
    font-size: 14px;
    font-weight: 600;
}

.dropdown_learning__content-item-bottom {
    font-size: 12px;
    height: 40%;
}

.course_detail__body-content-txtMade {
    position: absolute;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0;
    left: 0;

}

.icon-learning-item {
    padding: 0;
    margin: 0;
}
/* *
MODAL COMPONENT
 */

.learning-modal {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: flex-start;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.7);
}

.learning-modal.is-active {
    animation: fadeIn 0.1s ease-in-out forwards;
}

.learning-modal.modal-hide {
    animation: fadeOut 0.1s ease-in-out 0.1s forwards;
}

.learning-modal-content {
    width: 45%;
    height: 100%;
    position: relative;
    background-color: #fff;
    padding: 2rem;
    border-radius: 0.25rem;
    overflow: auto;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.4);
}

.learning-modal.is-active .learning-modal-content {
    animation: fadeInDown 0.3s ease-in-out forwards;
}

.learning-modal.modal-hide .learning-modal-content {
    animation: fadeOutUp 0.2s ease-in-out forwards;
}

.learning-modal-close {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 1.75rem;
    font-weight: bold;
    padding: 0 0.75rem;
    color: rgba(0, 0, 0, 0.2);
    cursor: pointer;
    user-select: none;
}

.learning-modal-close:hover,
.learning-modal-close:focus {
    color: rgba(0, 0, 0, 0.5);
}

.learning-modal {
    justify-content: flex-end;
    align-items: flex-end;
    background-color: transparent;
    /* overflow: hidden; */
    overflow-y: scroll;
}

.learning-modal.is-active {
    animation: none;
}

.learning-modal.modal-hide {
    animation: none;
}

.learning-modal.is-active .learning-modal-content {
    animation: fadeInLeft 0.3s forwards;
}

.learning-modal.modal-hide .learning-modal-content {
    animation: fadeOutRight 0.2s ease-in-out forwards;
}

.learning-header {
    position: relative;
    width: 100%;
    height: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
}

.learning-body {
    width: 100%;
    height: 900px;
    overflow-y: scroll;
}

#scroll-bar::-webkit-scrollbar-track {
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.1);
    border: 1px solid #ccc;
}

.learning-body-title {
    width: 100%;
    height: 50px;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.learning-body-title-left {
    width: 80%;
    display: flex;
    align-items: center;
}

.learning-body-title-right {
    width: 20%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.learning-body-inpquestion {
    width: 100%;
    height: 50px;
    border: none;
    border-bottom: 1px solid #ccc;
}

.learning-body-inpquestion:focus {
    outline: none;
}

.learning-body-title-right>button {
    background: none;
    border: none;
    font-size: 20px;
    color: #ccc;
}

.learning-body-title-right>button:hover {
    color: hsl(348, 100%, 61%);
}

.learning-body-note,
.learning-body-question {
    width: 100%;
    height: auto;
}


.learning-body-note-content {
    width: 100%;
    padding: 15px 20px 15px 20px;
    background-color: #f7f8fa;
    border-radius: 10px;
}

.learning-footer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 20px;
}
/**
QUESTION COMPONENT
*/

.learning-question-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    margin-bottom: 50px;
}

.body-sidebar-header-avatar {
    width: 50px;
    height: 50px;
    border-radius: 25px;
    background-color: hsl(0, 0%, 96%);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

/*COMPONENT COMMENT*/

.comment_comp__wrapper {
    width: 100%;
    height: 100%;
    margin-bottom: 50px;
}

.comment_comp__header,
.comment_comp__rep-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.comment_comp__header-top {
    width: 100%;
    display: flex;
}

.comment_comp__rep-form-header {
    position: relative;
}

.comment_comp__header-txtrep {
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
    margin: 5px 0;
    padding: 0 15px;
}


.comment_comp__header-avatar,
.comment_comp__rep-wrapper-avatar {
    width: 50px;
    height: 50px;
    margin-right: 15px;
    border-radius: 25px;
    background-color: hsl(0, 0%, 96%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.comment_comp__header-content,
.comment_comp__rep-wrapper-content {
    min-width: 70%;
    height: auto;
    background-color: #f7f8fa;
    border-radius: 10px;
    padding: 15px;
}

.comment_comp__rep {
    width: 90%;
    margin-left: 10%;
    border-left: 1px solid red;
    padding-left: 15px;
}

.comment_comp__rep-form {
    width: 90%;
    margin-left: 10%;
}

.comment_comp__rep-form-header {
    display: flex;
}

/**/
.note_only__wrapper {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: flex-start;
    /* overflow: auto; */
    background-color: rgba(0, 0, 0, 0.7);
}

.note_only__wrapper.is-active {
    animation: fadeIn 0.1s ease-in-out forwards;
}

.note_only__wrapper.modal-hide {
    animation: fadeOut 0.1s ease-in-out 0.1s forwards;
}

.note_only__wrapper-content {
    width: 78%;
    min-height: 400px;
    position: relative;
    background-color: #fff;
    padding: 2rem;
    overflow: auto;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.4);
}


.note_only__wrapper {
    justify-content: flex-end;
    align-items: flex-start;
    background-color: transparent;
    /* overflow: hidden; */
    overflow-y: scroll;
}

.note_only__wrapper.is-active {
    animation: none;
}

.note_only__wrapper.modal-hide {
    animation: none;
}

.note_only__wrapper.is-active .note_only__wrapper-content {
    animation: fadeInUp 0.3s forwards;
}

.note_only__wrapper.modal-hide .note_only__wrapper-content {
    animation: fadeOutDown 0.2s ease-in-out forwards;
}




/* Animations */
@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translateY(-3rem);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeOutUp {
    0% {
        opacity: 1;
        transform: translateY(0);
    }

    100% {
        opacity: 0;
        transform: translateY(-3rem);
    }
}

@keyframes zoomIn {
    0% {
        opacity: 0;
        transform: scale(0.3);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes fadeInLeft {
    0% {
        opacity: 0;
        transform: translateX(100%);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(100%);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeOutRight {
    0% {
        opacity: 1;
        transform: translateY(0);
    }

    100% {
        opacity: 0;
        transform: translateX(100%);
    }
}

@keyframes fadeOutDown {
    0% {
        opacity: 1;
        transform: translateX(0);
    }

    100% {
        opacity: 0;
        transform: translateY(100%);
    }
}