:root {
  --management-background: #f6f6f6;
  --management-background-layout: #ffffff;
  --management-shadow: #4a4a4e1f;
  --management-subtitle-color: #5e5e5e;
  --primary-color: #00d1b2;
}
.management_layout__wrapper {
  width: 100%;
  /* height: 900px; */
  /* background-color: aqua; */
  display: flex;
  flex-direction: column;
  background-color: var(--management-background);
  position: fixed;
}
.management_layout__container {
  padding: 0px;
  display: flex;
  height: 720px;
}
.management_layout__header {
  background-color: var(--management-background-layout);
  min-height: 56px;
  padding: 0 20px;
  box-shadow: 0 1px 4px 0 var(--management-shadow);
  display: flex;
  align-items: center;
  justify-content: flex-end;
  z-index: 1;
  /* position: fixed; */
}
.management_layout__header > h2 {
  flex: 1;
  font-size: 24px;
  font-weight: bold;
  height: 100%;
}
.management_layout__user-box {
  height: 100%;
  /* position: relative; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.management_layout__user-box::after {
  content: "";
  right: 0;
  /* position: absolute; */
  margin: 0 10px;
  width: 1px;
  height: 32px;
  background-color: #e8e8e8;
}
.management_layout__user-name {
  min-width: 124px;
  height: 40px;
  padding: 4px 16px 4px 4px;
  border-radius: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
}
.management_layout__user-name:hover {
  background-color: #0000000f;
}
.management_layout__user-name > span {
  margin: 0 8px 0 0;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #d9d8d8;
}
.management_layout__notification-icon {
  width: 40px;
  height: 40px;
  cursor: pointer;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.management_layout__notification-icon:hover {
  background-color: #0000000f;
}
.management_layout__back-to-home {
  min-width: 108px;
  height: 34px;
  padding: 0 16px;
  border: 1px solid #dcdce0;
  border-radius: 16px;
  line-height: 32px;
  cursor: pointer;
  margin: 0 10px;
}
.management_layout__back-to-home:hover {
  background-color: #0000000f;
}
.management_layout__sidebar {
  border-top-right-radius: 2px;
  min-width: 279px;
  background-color: var(--management-background-layout);
  padding: 10px 10px;

  /* position: fixed; */
}
.management_layout__sidebar .is-active {
  background-color: var(--primary-color) !important;
}

.management_layout__content {
  height: 720px;
  /* overflow-y: scroll; */
  /* overflow: scroll; */
  width: 100%;
  padding: 10px 10px;
  margin: 0 10px;
}

.course_page__wrapper {
  height: 100%;
  width: 100%;
  padding: 10px;
  display: flex;
  padding-bottom: 500px;
}
.course_page__courses {
  flex: 2;
  height: 720px;
  overflow-y: scroll;
  padding-bottom: 100px;
  /* background-color: aquamarine; */
}
.course_page__lessons {
  flex: 1;
  /* background-color: antiquewhite; */
}
.course_page__header {
  padding: 20px 20px;
  background-color: var(--management-background-layout);
  height: 200px;
  border-radius: 5px;
  box-shadow: 0 1px 4px 0 var(--management-shadow);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.course_page__search-box {
  display: flex;
}
/* .course_page__search-box > .select {
  flex: 2;
} */
.course_page__search-box > .control {
  flex: 1;
}

.course_page__action {
  display: flex;
}
.course_page__list-course {
  width: 100%;
  padding: 20px 20px;
  background-color: var(--management-background-layout);
  border-radius: 5px;
  box-shadow: 0 1px 4px 0 var(--management-shadow);
  margin-top: 20px;
}
.course_page__course-infor {
  display: flex;
  padding: 10px 0;
}
.course_page__course-name {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  /* font-size: 10px; */
  padding: 0 10px;
}
.course_page__is-selected-row {
  background-color: var(--primary-color);
  color: #ffffff;
}
.course_page__is-selected-row * {
  color: #ffffff;
}
.course_page__course-infor img {
  border-radius: 10px;
}

.course_page__lessons {
  /* box-sizing: border-box; */
  /* position: fixed; */
  height: 720px;
  width: 100%;
  overflow-y: scroll;
  padding: 20px 20px;
  background-color: var(--management-background-layout);
  border-radius: 5px;
  box-shadow: 0 1px 4px 0 var(--management-shadow);
  margin-left: 20px;
  padding-bottom: 100px;
}

.course_page__lessons-box {
  background-color: #fcfcfc;
  box-shadow: 0 1px 4px 0 var(--management-shadow);
  padding: 10px;
  border-radius: 10px;
}
.course_page__lessons-box + .course_page__lessons-box {
  margin-top: 10px;
}
.course_page__lessons-box:hover {
  background-color: var(--primary-color);
  color: white;
}
.course_page__lessons-box:hover > * {
  color: white;
}
.course_page__lessons-box:hover h6 {
  color: white;
}
.course_page__lessons-box:hover .course_page__lessons-circle {
  border-color: #ffffff;
}

.course_page__lessons-circle {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border: 2px solid var(--management-subtitle-color);
  color: var(--management-subtitle-color);
}
.course_page__pageable {
  width: 200px;
  display: flex;
  justify-content: space-between;
}
.course_page__pageable > div > span {
  color: var(--management-subtitle-color);
  padding: 0 20px;
  /* background-color: red; */
}
.course_page__pageable > div > span:hover {
  opacity: 0.4;
}
.course_page__pageable > div > span:active {
  opacity: 0.7;
}

/* .course_page__course-name > subtitle { */
/* color: var(--management-subtitle-color); */
/* } */
