.conversation-list {
    width: 21vw;
    height: 92vh;
    overflow: scroll;
}

.chat-user {
    width: 47%;
}

.null-chat {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.detail-conversation {
    flex-wrap: wrap;
    width: 30vw;
    height: 92vh;
    border-radius: 10px;
    overflow: scroll;
}

.detail-privacy {
    position: relative;
    height: 30vh;
    width: 28vw;
    border-radius: 10px;
    overflow: hidden;
}

.detail-link-conversation {
    position: relative;
    height: 25vh;
    width: 28vw;
    overflow: scroll;
}

.detail-image-conversation {
    display: flex;
    flex-wrap: wrap;
    width: 30vw;
    height: 30vh;
    border-radius: 10px;
    overflow: hidden;
}
.croll{
    overflow: scroll;
    height: 100%;
}
.detail-item {
    width: 25%;
    display: flex;
    align-items: center;
}

.detail-item img {
    border-radius: 10px;
    overflow: hidden;
}

.button-privacy {
    width: 100%;
}

.profile-privacy {
    width: 7rem;
    height: 7rem;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}
.w-100{
    width: 100%;
}
.profile-privacy-img {}