.popup-message {
    width: 20em;
    min-height: 3em;
    position: fixed;
    bottom: 0;
    right: 0;
    box-shadow: 0 0 3px;
    border-radius: 10px;
    border-bottom-right-radius: 0;
    transition: 0.4s;
}

.content-message {
    border-radius: 10px;
    height: 0em;
    transition: 0.5s;
}

.content-message.active {
    height: 30.5em;
    transition: 0.4s;
}

.message-chat {
    display: none;
    transition: 0.4s;
}

.content-message.active .message-chat {
    display: block;
    transition: 0.4s;
}

.message-chat.list{
    height: 50vh;
    overflow: scroll;
}